<section>
  <mat-toolbar color="primary">
    <div class="toolbar-right">
      <button *ngIf="accountService.isAuthorized" class="btn" (click)="openStaticBackdrop(content)">
        <mat-icon class="btn__icon-menu">menu</mat-icon>
      </button>
      <span class="header">Изучение языков</span>
    </div>
    <div>
      <button mat-icon-button [routerLink]="'/'">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <a *ngIf="!accountService.isAuthorized" mat-menu-item [routerLink]="'/account'">Войти</a>
      <butoon *ngIf="accountService.isAuthorized" mat-menu-item (click)="logOff()" >Выйти</butoon>
      <a mat-menu-item [routerLink]="'/account/add-user'">Добавить пользователя</a>
      <a mat-menu-item>Изменить языка интерфейса</a>
    </mat-menu>
  </mat-toolbar>
</section>
<main class="body--main">
  <router-outlet></router-outlet>
</main>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Выбрать урок</h4>
    <button mat-icon-button (click)="offcanvas.dismiss('Cross click')">
      <mat-icon class="color__icon">close</mat-icon>
    </button>
  </div>
  <div class="offcanvas-body">
    <a class="btn btn-lg btn-outline-primary lesson">Урок № 1</a>
    <a class="btn btn-lg btn-outline-primary lesson">Урок № 2</a>
    <a class="btn btn-lg btn-outline-primary lesson">Урок № 3</a>
  </div>