.example-spacer {
  flex: 1 1 auto;
}

.toolbar-right {
  display: flex;
  gap: 16px
}

.header {
  font-size: 22px;
  text-transform: uppercase;
}

.btn {
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  background-color: #3f51b5;

  &__icon-menu {
    font-size: 32px;
  }
}

.lesson {
  width: 250px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(197, 197, 197);
  color: black;
}

.mat-toolbar-single-row {
  justify-content: space-between;
  height: 45px;
}

.mat-button{
 padding: 0;
 min-width: 40px;
 line-height: 45px;
 color: white;
}


.canvasNoAvtive {
  display: none;
}

.offcanvas-header {
  background-color: #3f51b5;
}

.offcanvas-title {
  margin: 0;
  font-size: 22px;
  color: white;
}

.btn-close {
  border: 0;
  margin: none;
  color: white;
}