<section>
    <mat-toolbar color="primary">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Выбор языка интерфейса</button>
        <button mat-menu-item>Выбор курса</button>
      </mat-menu>
      <span>Изучение языков</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon account-icon" aria-label="Example icon-button with account_circle icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
</section>